<div mat-dialog-content>
  <h2>Relic Autofiller</h2>
  <p>Autofill relic information from the Saints & Blessed book!</p>
  <p>To start, enter the chapel location below.<br>
    The location will have up to 5 fields, separated by spaces.<br>
    Example: From the book: &nbsp;<code> U. 006 ...B 02 .</code><br>
    &nbsp; will be entered as: &nbsp;<code> U 6 B 2</code>
  </p>
  <mat-form-field>
    <mat-label>Chapel location</mat-label>
    <input matInput [(ngModel)]="chapelLocation">
  </mat-form-field>
  <button mat-raised-button
          (click)="lookupRelicLocation(chapelLocation)">Look up</button>
  
  <pre>{{lookupResultStr}}</pre>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="chapelLocation" cdkFocusInitial>OK</button>
</div>