rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    // Anyone can read data.
    match /{document=**} {
      allow read: if true;
    }
    
    function isSignedIn() {
      return request.auth != null;
    }
    
    function uidInDatabase() {
    	return exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
    
    // Only certain users can write data.
    match /{document=**} {
      allow write: if isSignedIn() && uidInDatabase();
    }
  
  }
}