<div mat-dialog-content>

  <h2>Saint Information</h2>
  
  <div *ngFor="let saint of saints; index as i">
    <div *ngIf="i > 0">
      <br>
      <hr>
      <br>
      <h2>Saint {{i+1}}</h2>
      <br>
    </div>

    <div>Pick existing saint from list:</div>

    <mat-form-field>
      <input matInput
             placeholder="Look up existing saint"
             aria-label="Look up existing saint"
             [matAutocomplete]="auto"
             [formControl]="autocompleteSaintsCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let s of filteredSaints | async"
                    (onSelectionChange)="autocompleteOptionSelectedForSaint(s, i)"
                    [value]="getHumanReadableSaintName(s)">
          <span>{{getHumanReadableSaintName(s)}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-select [(ngModel)]="saint.canonizationStatus">
        <mat-option *ngFor="let status of canonizationStatuses"
                    [value]="status">{{status}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Saint Name</mat-label>
      <input required matInput [(ngModel)]="saint.name">
    </mat-form-field>
    
    of

    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput [(ngModel)]="saint.city">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Subtitle (like "the Baptist" / "of the Cross")</mat-label>
      <input matInput [(ngModel)]="saint.subtitle">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Religious Order</mat-label>
      <input matInput [(ngModel)]="saint.religiousOrder">
    </mat-form-field>

    <br>
    Vocations:
    <div *ngFor="let vocation of saint.vocations; index as i; trackBy: trackByFn">
      <mat-form-field>
        <input matInput [(ngModel)]="saint.vocations![i]">
      </mat-form-field>
    </div>
    <button mat-raised-button
            (click)="addVocation(saint)">+ vocation</button>
    <button mat-raised-button
            *ngIf="saint.vocations && saint.vocations!.length > 1"
            (click)="removeVocation(saint)">- vocation</button>

    <mat-form-field>
      <mat-label>Birth date</mat-label>
      <input matInput [(ngModel)]="saint.birthDate">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Death date</mat-label>
      <input matInput [(ngModel)]="saint.deathDate">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Feast day (actual)</mat-label>
      <input matInput [(ngModel)]="saint.feastDayAndMonth">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Feast day (pre-1970)</mat-label>
      <input matInput [(ngModel)]="saint.feastDayAndMonthOld">
    </mat-form-field>

    <div>
      Saint Firebase Id (blank if new):<br>{{saint.firebaseDocId}}
    </div>

    <br>

    <div *ngIf="saints.length > 1">
      <button mat-raised-button
              (click)="removeSaint(saint)">remove saint</button>
    </div>
    <br>
  </div>

  <button mat-raised-button
            (click)="addSaint()">+ saint</button>

  <br>
  <br>
  <hr>
  <br>

  <h2>Relic Information</h2>

  Relic Materials:
  <div *ngFor="let material of relic.relicMaterials; index as i; trackBy: trackByFn">
    <mat-form-field>
      <input matInput [(ngModel)]="relic.relicMaterials![i]">
    </mat-form-field>
  </div>
  <button mat-raised-button
          (click)="addRelicMaterial()">+ material</button>
  <button mat-raised-button
          *ngIf="relic.relicMaterials && relic.relicMaterials!.length > 1"
          (click)="removeRelicMaterial()">- relicMaterial</button>

  <mat-form-field>
    <mat-label>Chapel Location</mat-label>
    <input matInput [(ngModel)]="relic.chapelLocation">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Other Information</mat-label>
    <textarea matInput [(ngModel)]="relic.otherInfo"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Doc Number</mat-label>
    <input matInput [(ngModel)]="relic.docNumber">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Number of Names in Doc (number only - no parentheses)</mat-label>
    <input matInput [(ngModel)]="relic.numNamesInDoc">
  </mat-form-field>

  <br>
  <hr>
  <br>

  <h2>Auto-Generated Data</h2>

  <mat-form-field>
    <mat-label>Photo URL</mat-label>
    <input matInput [(ngModel)]="relic.inPhoto">
  </mat-form-field>

  Natural Coordinates:
  <mat-form-field>
    <mat-label>X</mat-label>
    <input matInput [(ngModel)]="relic.photoNaturalCoords[0]">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Y</mat-label>
    <input matInput [(ngModel)]="relic.photoNaturalCoords[1]">
  </mat-form-field>


  <div>
    Firebase Relic Doc Id (blank if new):<br>{{relic.firebaseDocId}}
  </div>
  
  <br>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="[relic, saints]" cdkFocusInitial>OK</button>
</div>