<div class="cabinet-scenes-container">
    <app-cabinet-scene [photoInfo]="currentCabinetScene"
      [editMode]="editMode"
      (zoomIn)="zoomIn($event)">
    </app-cabinet-scene>
</div>

<div class="top-left-buttons">
  <button mat-fab
          (click)="toggleEditMode()"
          color="primary"
          aria-label="Change from view mode to edit mode"
          [title]="(editMode) ? 'Change to view mode' : 'Change to edit mode'">
    <mat-icon *ngIf="editMode">visibility</mat-icon>
    <mat-icon *ngIf="!editMode">create</mat-icon>
  </button>
  <br>
  <button mat-fab
          (click)="zoomOut()"
          *ngIf="zoomedList.length > 0"
          color="primary"
          aria-label="Zoom out"
          title="Zoom out">
    <mat-icon>zoom_out</mat-icon>
  </button>
</div>