<div class="cabinet-scenes-container">
    <app-cabinet-scene [photoInfo]="currentPhotoInfo"
      [editMode]="editMode"
      [addRelicMode]="addRelicMode"
      [hideLabels]="hideLabels"
      (sceneImgChanged)="redrawCurrentScene()"
      (zoomIn)="zoomIn($event)"
      (addOrUpdateRelicDot)="addOrUpdateRelicDot($event)"
      (addZoomArea)="addZoomArea($event)">
    </app-cabinet-scene>
</div>

<div class="top-left-buttons">
  <button mat-fab
          (click)="zoomOut()"
          *ngIf="zoomedList.length > 0"
          color="primary"
          aria-label="Zoom out"
          title="Zoom out">
    <mat-icon>zoom_out</mat-icon>
  </button>
  <button *ngIf="firebaseAuthService.user && firebaseAuthService.user!.uid"
          mat-fab
          (click)="toggleEditMode()"
          color="primary"
          aria-label="Change from view mode to edit mode"
          [title]="(editMode) ? 'Change to view mode' : 'Change to edit mode'">
    <mat-icon *ngIf="editMode">visibility</mat-icon>
    <mat-icon *ngIf="!editMode">create</mat-icon>
  </button>
  <br>
  <button mat-fab
          *ngIf="editMode && firebaseAuthService.user && firebaseAuthService.user!.uid"
          (click)="toggleAddRelicMode()"
          color="primary"
          aria-label="Change from add relic mode to add zoom area mode"
          [title]="(addRelicMode) ? 'Change to zoom area mode' : 'Change to add relic mode'">
    <mat-icon *ngIf="addRelicMode">crop_free</mat-icon>
    <mat-icon *ngIf="!addRelicMode">control_camera</mat-icon>
  </button>
  <br>
</div>

<div class="top-right-buttons">
  <div *ngIf="firebaseAuthService.angularFireAuth.user | async as user; else showLogin">
    <button class="user-btn"
            (click)="logout()"
            title="Log out">
      <img class="user-photo"
           [src]="user!.photoURL">
    </button>
  </div>
  <ng-template #showLogin>
    <button class="user-btn"
            (click)="login()"
            title="Log in to edit">
      <mat-icon class="user-photo"
                style="padding: 13px 0px">create</mat-icon>
    </button>
  </ng-template>
</div>

<div class="left-button">
  <button mat-fab
          (click)="moveLeftOrRight('left')"
          *ngIf="zoomedList.length === 0"
          color="primary"
          aria-label="Move left"
          title="Move left">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<div class="right-button">
  <button mat-fab
          (click)="moveLeftOrRight('right')"
          *ngIf="zoomedList.length === 0"
          color="primary"
          aria-label="Move right"
          title="Move right">
    <mat-icon>arrow_forward</mat-icon>
  </button>
</div>

<div class="bottom-right-buttons">
  <button mat-fab
          (click)="toggleHideLabels()"
          color="primary"
          aria-label="Show or hide the labels"
          [title]="(hideLabels) ? 'Show labels' : 'Hide labels'">
    <mat-icon *ngIf="hideLabels">explore</mat-icon>
    <mat-icon *ngIf="!hideLabels">explore_off</mat-icon>
  </button>
</div>