.search-bar-area
  position: fixed
  left: 30vw
  top: 0
  padding: 10px
  margin-top: 15px
  background-color: darkgray
  border-radius: 13px
  
.top-left-buttons
  position: fixed
  top: 0
  left: 0
  padding: 10px

.top-right-buttons
  position: fixed
  top: 0
  right: 0
  padding: 10px

.bottom-left-buttons
  position: fixed
  bottom: 0
  left: 0
  padding: 10px

.bottom-right-buttons
  position: fixed
  bottom: 0
  right: 0
  padding: 10px

.left-button
  position: fixed
  top: 50%
  left: 0
  padding: 10px

.right-button
  position: fixed
  top: 50%
  right: 0
  padding: 10px

.up-button
  position: fixed
  left: 50%
  top: 75px
  padding: 10px

.down-button
  position: fixed
  left: 50%
  bottom: 20px
  padding: 10px

.faded-arrow-btn
  opacity: 0.5

.bottom-text-area
  position: fixed
  bottom: 0%
  width: 100%
  padding: 20px
  text-align: center

.bottom-text
  background-color: #ddd
  color: black
  font-size: 18px
  padding: 10px 20px
  border-radius: 20px
  border: 3px solid #555

button
  margin: 5px

.user-btn
  width: 50px
  height: 50px
  margin: 0
  padding: 0
  border: none
  background: none

.user-photo
  width: 100%
  height: auto
  border-radius: 25px
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12)

.user-photo:hover
  cursor: pointer
  opacity: 0.8