.relic-dot
    border: 3px solid yellow
    width: 16px
    height: 16px
    border-radius: 16px
    position: absolute
    background-color: blue

.relic-dot-search
    border: 5px dashed blue
    width: 28px
    height: 28px
    position: absolute
    bottom: -11px
    left: -11px

.relic-hover-card
    display: none

.relic-dot:hover .relic-hover-card
    display: block
    position: relative
    bottom: 70px
    left: calc(50% - 120px)
    width: 200px
    text-align: center
    color: #efe6e6
    background-color: #424242
    z-index: 9999